<div class="container mt-2 ">
    <div *ngIf="(basket$ |async) ===null">
        <p>There are no basket in your basket</p>

    </div>

    <div *ngIf="(basket$|async) ">
        <div class="py-3 mb-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-7 py-5 mb-1">

                    <app-basket-summary
                    (decrement)="decrementItemQuantity($event)"
                    (increment)="incrementItemQuantity($event)"
                    (remove)="removeItemFromBasket($event)"
                    ></app-basket-summary>
                        
                    </div>
                

                    <div class="col-md-12  col-lg-5 py-5 ">
                        <app-order-totals></app-order-totals>
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
                        Proceed to checkout
                    </a>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>